{% extends 'intranet.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block body %}
    <h1>Crear nuevo usuario</h1>

    {{ include('administrador/usuario/_form.html.twig') }}

{% endblock %}
